.profile__edit-btn {
  min-height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 0;
  margin-left: 24px;
  background-image: url("../../../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .profile__edit-btn {
    min-height: 18px;
    width: 18px;
    margin-left: 12px;
  }
}
