@import url("./__copyright/footer__copyright.css");

.footer {
  width: 100%;
  max-width: 882px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

@media screen and (max-width: 1140px) {
  .footer {
    margin: 0 auto;
    max-width: 584px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    max-width: 282px;
  }
}
