.profile__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1140px) {
  .profile__container {
    flex-direction: column;
  }
}
