.page {
  color: #ffffff;
  font-family: 'Inter', arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #000000;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
